[package]
name = "backup"
version = "0.0.1"
edition = "2018"
publish = false

[[test]]
name = "integrations"
path = "tests/integrations/mod.rs"

[dependencies]
crc64fast = "0.1"
engine = { path = "../engine" }
external_storage = { path = "../external_storage" }
failure = "0.1"
futures = { version = "0.3", features = ["compat"] }
futures-util = { version = "0.3", default-features = false, features = ["io", "io-compat"] }
tikv = { path = "../../", default-features = false }
kvproto = { git = "https://github.com/pingcap/kvproto.git", branch = "release-3.1" }
protobuf = "2"
raft = "0.4"
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "91904ade" }
tikv_util = { path = "../tikv_util" }
grpcio = { version = "0.4", features = [ "openssl-vendored" ] }
url = "2.0"
hex = "0.3"
serde = "1.0"
serde_derive = "1.0"
lazy_static = "1.3"
tikv_alloc = { path = "../tikv_alloc", default-features = false }

[dependencies.prometheus]
version = "0.4.2"
default-features = false
features = ["nightly", "push", "process"]

[dependencies.futures_01]
version = "0.1"
package = "futures"

[dev-dependencies]
rand = "0.6.5"
test_util = { path = "../test_util" }
test_raftstore = { path = "../test_raftstore" }
uuid = { version = "0.6", features = [ "serde", "v4" ] }
futures-executor = "0.3"
