[package]
name = "backup"
version = "0.0.1"
edition = "2018"
publish = false

[[test]]
name = "integrations"
path = "tests/integrations/mod.rs"

[dependencies]
crc64fast = "0.1"
tikv = { path = "../../" }
kvproto = { git = "https://github.com/Fullstop000/kvproto.git", default-features = false, branch = "batch_resolve_locks" }
protobuf = "2.8"
raft = { version = "0.6.0-alpha", default-features = false }
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "0e23a5baff302a9d7bccd85f8f31e43339c2f2c1" }
engine = { path = "../engine" }
engine_traits = { path = "../engine_traits" }
engine_rocks = { path = "../engine_rocks" }
tikv_util = { path = "../tikv_util" }
futures = "0.1"
tempfile = "3.0"
tokio-threadpool = "0.1"
grpcio = { version = "0.5.0-alpha.5", features = [ "openssl-vendored" ], default-features = false }
url = "2.0"
hex = "0.3"
external_storage = { path = "../external_storage" }
serde = "1.0"
serde_derive = "1.0"
lazy_static = "1.3"
failure = "0.1"
keys = { path = "../keys" }
tikv_alloc = { path = "../tikv_alloc" }
tidb_query = { path = "../tidb_query" }

[dependencies.prometheus]
git = "https://github.com/pingcap/rust-prometheus.git"
rev = "b668f3911d6569de2e1e8b2672fccec1cc8298be"
default-features = false
features = ["nightly", "push", "process"]

[dev-dependencies]
rand = "0.7"
test_util = { path = "../test_util" }
test_raftstore = { path = "../test_raftstore" }
uuid = { version = "0.7", features = [ "serde", "v4" ] }
