[package]
name = "backup"
version = "0.0.1"
edition = "2018"
publish = false

[[test]]
name = "integrations"
path = "tests/integrations/mod.rs"

[features]
default = ["protobuf-codec"]
protobuf-codec = [
  "engine/protobuf-codec",
  "engine_rocks/protobuf-codec",
  "external_storage/protobuf-codec",
  "grpcio/protobuf-codec",
  "keys/protobuf-codec",
  "kvproto/protobuf-codec",
  "raft/protobuf-codec",
  "raftstore/protobuf-codec",
  "tidb_query/protobuf-codec",
  "tikv/protobuf-codec",
  "txn_types/protobuf-codec",
]
prost-codec = [
  "engine/prost-codec",
  "engine_rocks/prost-codec",
  "external_storage/prost-codec",
  "grpcio/prost-codec",
  "keys/prost-codec",
  "kvproto/prost-codec",
  "raft/prost-codec",
  "raftstore/prost-codec",
  "tidb_query/prost-codec",
  "tikv/prost-codec",
  "txn_types/prost-codec",
]
tcmalloc = ["tikv/tcmalloc"]
jemalloc = ["tikv/jemalloc"]
mimalloc = ["tikv/mimalloc"]
portable = ["tikv/portable"]
sse = ["tikv/sse"]
mem-profiling = ["tikv/mem-profiling"]
failpoints = ["tikv/failpoints"]

[dependencies]
crc64fast = "0.1"
engine = { path = "../engine" }
engine_rocks = { path = "../engine_rocks" }
engine_traits = { path = "../engine_traits" }
external_storage = { path = "../external_storage" }
failure = "0.1"
futures = "0.1"
futures-util = { version = "0.3", default-features = false, features = ["io", "io-compat"] }
grpcio = { version = "0.5.0-alpha.5", default-features = false, features = ["openssl-vendored"] }
hex = "0.3"
keys = { path = "../keys" }
kvproto = { git = "https://github.com/pingcap/kvproto.git", default-features = false }
lazy_static = "1.3"
raft = { version = "0.6.0-alpha", default-features = false }
raftstore = { path = "../raftstore" }
serde = "1.0"
serde_derive = "1.0"
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "0e23a5baff302a9d7bccd85f8f31e43339c2f2c1" }
tidb_query = { path = "../tidb_query" }
tikv = { path = "../../", default-features = false }
tikv_alloc = { path = "../tikv_alloc" }
tikv_util = { path = "../tikv_util" }
tokio-threadpool = "0.1"
txn_types = { path = "../txn_types" }

[dependencies.prometheus]
git = "https://github.com/renkai/rust-prometheus.git"
rev = "fcc6b1a7ac30f7591a157f4067a42482ac321fe0"
default-features = false
features = ["nightly", "push", "process"]

[dev-dependencies]
futures-executor = "0.3"
rand = "0.7"
tempfile = "3.0"
test_util = { path = "../test_util" }
test_raftstore = { path = "../test_raftstore" }
uuid = { version = "0.7", features = ["serde", "v4"] }
