[package]
name = "tikv_kv"
version = "0.1.0"
authors = ["The TiKV Authors"]
description = "The key-value abstraction directly used by TiKV"
edition = "2021"
publish = false
license = "Apache-2.0"

[features]
default = ["test-engine-kv-rocksdb", "test-engine-raft-raft-engine"]
failpoints = ["fail/failpoints"]

test-engine-kv-rocksdb = ["raftstore/test-engine-kv-rocksdb"]
test-engine-raft-raft-engine = ["raftstore/test-engine-raft-raft-engine"]

test-engines-rocksdb = ["raftstore/test-engines-rocksdb"]
test-engines-panic = ["raftstore/test-engines-panic"]

[dependencies]
collections = { workspace = true }
engine_panic = { workspace = true }
engine_rocks = { workspace = true }
engine_traits = { workspace = true }
error_code = { workspace = true }
fail = "0.5"
file_system = { workspace = true }
futures = { version = "0.3", features = ["thread-pool", "compat"] }
into_other = { workspace = true }
kvproto = { workspace = true }
log_wrappers = { workspace = true }
pd_client = { workspace = true }
prometheus = { version = "0.13", features = ["nightly"] }
prometheus-static-metric = "0.5"
raft = { workspace = true }
raftstore = { workspace = true }
slog = { workspace = true }
slog-global = { workspace = true }
slog_derive = "0.2"
tempfile = "3.0"
thiserror = "1.0"
tikv_util = { workspace = true }
tracker = { workspace = true }
txn_types = { workspace = true }

[dev-dependencies]
keys = { workspace = true }
panic_hook = { workspace = true }
