[package]
name = "test_util"
version = "0.0.1"
edition = "2018"
publish = false

[features]
default = ["cloud-aws", "cloud-gcp", "cloud-azure"]
cloud-aws = ["encryption_export/cloud-aws"]
cloud-gcp = ["encryption_export/cloud-gcp"]
cloud-azure = ["encryption_export/cloud-azure"]

[dependencies]
backtrace = "0.3"
collections = { workspace = true }
encryption_export = { workspace = true }
fail = "0.5"
grpcio = { workspace = true }
kvproto = { workspace = true }
rand = "0.8"
rand_isaac = "0.3"
security = { workspace = true }
slog = { workspace = true }
slog-global = { workspace = true }
tempfile = "3.0"
tikv_util = { workspace = true }
time = "0.1"
