[package]
name = "test_util"
version = "0.0.1"
edition = "2018"
publish = false

[features]
default = ["protobuf-codec", "cloud-aws", "cloud-gcp"]
protobuf-codec = [
  "encryption_export/protobuf-codec",
  "grpcio/protobuf-codec",
  "kvproto/protobuf-codec",
  "security/protobuf-codec",
  "tikv_util/protobuf-codec",
]
prost-codec = [
  "encryption_export/prost-codec",
  "grpcio/prost-codec",
  "kvproto/prost-codec",
  "security/prost-codec",
  "tikv_util/prost-codec",
]
cloud-aws = [ "encryption_export/cloud-aws" ]
cloud-gcp = [ "encryption_export/cloud-gcp" ]

[dependencies]
encryption_export = { path = "../encryption/export", default-features = false }
fail = "0.4"
grpcio = { version = "0.8",  default-features = false, features = ["openssl-vendored"] }
kvproto = { git = "https://github.com/pingcap/kvproto.git", default-features = false }
rand = "0.7"
rand_isaac = "0.2"
security = { path = "../security", default-features = false }
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
tempfile = "3.0"
tikv_util = { path = "../tikv_util", default-features = false }
collections = { path = "../collections" }
time = "0.1"
