[package]
name = "pd_client"
version = "0.1.0"
edition = "2018"
publish = false

[features]
failpoints = ["fail/failpoints"]

[dependencies]
error_code = { path = "../error_code", default-features = false }
futures = "0.3"
grpcio = { version = "0.10",  default-features = false, features = ["openssl-vendored", "protobuf-codec"] }
kvproto = { git = "https://github.com/SpadeA-Tang/kvproto.git" }
lazy_static = "1.3"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }
log_wrappers = { path = "../log_wrappers" }
prometheus = { version = "0.13", features = ["nightly"] }
security = { path = "../security", default-features = false }
serde = "1.0"
serde_derive = "1.0"
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
thiserror = "1.0"
tikv_alloc = { path = "../tikv_alloc" }
tikv_util = { path = "../tikv_util", default-features = false }
collections = { path = "../collections" }
tokio = { version = "1", features = ["sync"] }
tokio-timer = { git = "https://github.com/tikv/tokio", branch = "tokio-timer-hotfix" }
txn_types = { path = "../txn_types", default-features = false }
semver = "0.10"
fail = "0.5"
yatp = { git = "https://github.com/tikv/yatp.git", branch = "master" }
