[package]
name = "pd_client"
version = "0.1.0"
edition = "2018"
publish = false

[features]
default = ["protobuf-codec"]
protobuf-codec = [
  "error_code/protobuf-codec",
  "grpcio/protobuf-codec",
  "kvproto/protobuf-codec",
  "security/protobuf-codec",
  "tikv_util/protobuf-codec",
  "txn_types/protobuf-codec",
]
prost-codec = [
  "error_code/prost-codec",
  "grpcio/prost-codec",
  "kvproto/prost-codec",
  "security/prost-codec",
  "tikv_util/prost-codec",
  "txn_types/prost-codec",
]
failpoints = ["fail/failpoints"]

[dependencies]
error_code = { path = "../error_code", default-features = false }
futures = "0.3"
grpcio = { version = "0.8",  default-features = false, features = ["openssl-vendored"] }
kvproto = { git = "https://github.com/pingcap/kvproto.git", default-features = false }
lazy_static = "1.3"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }
log_wrappers = { path = "../log_wrappers" }
prometheus = { version = "0.10", features = ["nightly"] }
quick-error = "1.2.3"
security = { path = "../security", default-features = false }
serde = "1.0"
serde_derive = "1.0"
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
tikv_alloc = { path = "../tikv_alloc" }
tikv_util = { path = "../tikv_util", default-features = false }
collections = { path = "../collections" }
tokio-timer = "0.2"
txn_types = { path = "../txn_types", default-features = false }
semver = "0.10"
fail = "0.4"
yatp = { git = "https://github.com/tikv/yatp.git", branch = "master" }
