[package]
name = "codec"
version = "0.0.1"
edition = "2018"
publish = false

[dependencies]
byteorder = "1.2"
error_code = { path = "../error_code", default-features = false }
libc = "0.2"
static_assertions = { version = "1.0", features = ["nightly"] }
thiserror = "1.0"
tikv_alloc = { path = "../tikv_alloc" }

[dev-dependencies]
bytes = "1.0"
panic_hook = { path = "../panic_hook" }
protobuf = "2"
rand = "0.8"
