[package]
name = "codec"
version = "0.0.1"
edition = "2018"
publish = false

[features]
default = ["protobuf-codec"]
protobuf-codec = [
  "error_code/protobuf-codec",
]
prost-codec = [
  "error_code/prost-codec",
]

[dependencies]
byteorder = "1.2"
error_code = { path = "../error_code", default-features = false }
libc = "0.2"
static_assertions = { version = "1.0", features = ["nightly"] }
thiserror = "1.0"
tikv_alloc = { path = "../tikv_alloc" }

[dev-dependencies]
panic_hook = { path = "../panic_hook" }
protobuf = "2"
bytes = "0.5"
rand = "0.7"
