[package]
name = "tikv"
version = "0.0.1"
keywords = ["KV", "distributed-systems", "raft"]
build = "build.rs"

[build-dependencies]
time = "0.1"

[features]
default = []
dev = ["clippy"]
static-link = ["rocksdb/static-link"]
portable = ["rocksdb/portable"]

[lib]
name = "tikv"

[[bin]]
name = "tikv-server"

[[bin]]
name = "bench-tikv"
path = "benches/bin/bench-tikv.rs"

[[bin]]
name = "tikv-ctl"

[[test]]
name = "tests"

[dependencies]
log = "0.3"
byteorder = "0.5"
rand = "0.3"
quick-error = "0.2"
tempdir = "0.3"
uuid = { version = "0.3", features = ["v4"] }
time = "0.1"
threadpool = "1.0.0"
toml = "0.1"
num = "0.1"
libc = "0.2.11"
crc = "1.2"
fs2 = "0.2"
clippy = {version = "*", optional = true}
rustc-serialize = "0.3"
protobuf = "1.0"
bytes  = "0.3.0"
nix = "0.6.0"
utime = "0.1"
chrono = "0.2"
lazy_static = "0.2.1"
signal = "0.2"
backtrace = "0.2.3"
clap = "2"

# The getopts in crate.io is outdated, use the latest getopts instead.
[dependencies.getopts]
git = "https://github.com/rust-lang-nursery/getopts"

[dependencies.rocksdb]
git = "https://github.com/busyjay/rust-rocksdb.git"
branch = "busyjay/use-feature-instead-env"

[dependencies.kvproto]
git = "https://github.com/pingcap/kvproto"

[dependencies.tipb]
git = "https://github.com/pingcap/tipb.git"

[dependencies.mio]
git = "https://github.com/carllerche/mio.git"

[dependencies.prometheus]
git = "https://github.com/pingcap/rust-prometheus.git"
default-features = false
features = ["nightly"]

[profile.dev]
opt-level = 0  # Controls the --opt-level the compiler builds with
debug = true   # Controls whether the compiler passes `-g`

# The release profile, used for `cargo build --release`
[profile.release]
opt-level = 3
debug = true
