[package]
name = "test_sst_importer"
version = "0.1.0"
edition = "2018"
publish = false
description = "test helpers for sst_importer"

[lib]
test = false

[dependencies]
crc32fast = "1.2"
engine_rocks = { workspace = true }
engine_traits = { workspace = true }
keys = { workspace = true }
kvproto = { workspace = true }
uuid = { version = "0.8.1", features = ["serde", "v4"] }
