[package]
name = "test_sst_importer"
version = "0.1.0"
edition = "2018"
publish = false
description = "test helpers for sst_importer"

[lib]
test = false

[features]
default = ["protobuf-codec"]
protobuf-codec = [
  "engine_rocks/protobuf-codec",
  "engine_traits/protobuf-codec",
  "keys/protobuf-codec",
  "kvproto/protobuf-codec",
]
prost-codec = [
  "engine_rocks/prost-codec",
  "engine_traits/prost-codec",
  "keys/prost-codec",
  "kvproto/prost-codec",
]

[dependencies]
crc32fast = "1.2"
engine_rocks = { path = "../engine_rocks", default-features = false }
engine_traits = { path = "../engine_traits", default-features = false }
keys = { path = "../keys", default-features = false }
kvproto = { git = "https://github.com/pingcap/kvproto.git", branch = "release-5.1", default-features = false }
uuid = { version = "0.8.1", features = ["serde", "v4"] }
