[package]
name = "error_code"
version = "0.0.1"
edition = "2018"
publish = false

[lib]
name = "error_code"
path = "src/lib.rs"

[[bin]]
name = "error_code_gen"
path = "bin.rs"

[dependencies]
lazy_static = "1.3"
raft = { version = "0.7.0", default-features = false, features = ["protobuf-codec"] }
kvproto = { git = "https://github.com/SpadeA-Tang/kvproto.git" }
tikv_alloc = { path = "../tikv_alloc" }
grpcio = { version = "0.10",  default-features = false, features = ["openssl-vendored", "protobuf-codec"] }
serde = { version = "1.0", features = ["derive"] }
