[package]
name = "error_code"
version = "0.0.1"
edition = "2018"
publish = false

[features]
default = ["protobuf-codec"]
prost-codec = [
  "grpcio/prost-codec",
  "kvproto/prost-codec",
]
protobuf-codec = [
  "grpcio/protobuf-codec",
  "kvproto/protobuf-codec",
]

[lib]
name = "error_code"
path = "src/lib.rs"

[[bin]]
name = "error_code_gen"
path = "bin.rs"

[dependencies]
lazy_static = "1.3"
raft = { version = "0.6.0-alpha", default-features = false }
<<<<<<< HEAD
kvproto = { rev = "7a046020d1c091638e1e8aba623c8c1e8962219d", git = "https://github.com/pingcap/kvproto.git", default-features = false }
=======
kvproto = { git = "https://github.com/pingcap/kvproto.git", default-features = false }
>>>>>>> 586ed074e... Remove commit of kvproto for every Cargo.toml (#10478)
tikv_alloc = { path = "../tikv_alloc" }
grpcio = { version = "0.9",  default-features = false, features = ["openssl-vendored"] }
toml = "0.5"
serde = { version = "1.0", features = ["derive"] }
