[package]
name = "test_pd_client"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[dependencies]
collections = { workspace = true }
fail = "0.5"
futures = "0.3"
grpcio = { workspace = true }
keys = { workspace = true }
kvproto = { workspace = true }
log_wrappers = { workspace = true }
pd_client = { workspace = true }
raft = { workspace = true }
slog = { workspace = true }
slog-global = { workspace = true }
tikv_util = { workspace = true }
tokio = { version = "1.5", features = ["rt-multi-thread"] }
tokio-timer = { workspace = true }
tonic = { workspace = true }
txn_types = { workspace = true }
