[package]
name = "region_cache_memory_engine"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[features]
testexport = []

[dependencies]
engine_traits = { workspace = true }
collections = { workspace = true }
skiplist-rs = { git = "https://github.com/tikv/skiplist-rs.git", branch = "main" }
bytes = "1.0"
crossbeam = "0.8"
futures = { version = "0.3", features = ["compat"] }
tikv_util = { workspace = true }
txn_types = { workspace = true }
kvproto = { workspace = true }
log_wrappers = { workspace = true }
pd_client = { workspace = true }
raftstore = { workspace = true }
dashmap = "5.1"
security = { workspace = true }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
slog-global = { workspace = true }
slog = { workspace = true }
engine_rocks = { workspace = true }
fail = "0.5"
yatp = { workspace = true }
parking_lot = "0.12"
keys = { workspace = true }
prometheus = { version = "0.13", default-features = false, features = ["nightly"] }
prometheus-static-metric = "0.5"
lazy_static = "1.4.0"
hex = "0.4"
thiserror = "1.0"
online_config = { workspace = true }
libc = "0.2"
rand = "0.8"

[dev-dependencies]
tempfile = "3.0"
test_pd = { workspace = true }
test_pd_client = { workspace = true }