[package]
name = "aws"
version = "0.0.1"
edition = "2018"
publish = false

[features]
failpoints = ["fail/failpoints"]

[dependencies]
async-trait = "0.1"
bytes = "1.0"
cloud = { path = "../", default-features = false }
fail = "0.5"
futures = "0.3"
futures-util = { version = "0.3", default-features = false, features = ["io"] }
# This is only a dependency to vendor openssl for rusoto. It's not clear exactly
# how openssl is built for tikv, but it seems to be controlled by grpcio. This
# makes `cargo test -p aws` link correctly.
grpcio = { version = "0.10",  default-features = false, features = ["openssl-vendored", "protobuf-codec"] }
http = "0.2.0"
hyper = "0.14"
hyper-tls = "0.5"
kvproto = { git = "https://github.com/SpadeA-Tang/kvproto.git" }
rusoto_core = "0.46.0"
rusoto_credential = "0.46.0"
rusoto_kms = { version = "0.46.0", features = ["serialize_structs"] }
rusoto_sts = "0.46.0"
rusoto_s3 = { version = "0.46.0", features = ["serialize_structs"] }
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
tokio = { version = "1.5", features = ["time"] }
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
tikv_util = { path = "../../tikv_util", default-features = false }
url = "2.0"
thiserror = "1.0"
lazy_static = "1.3"
prometheus = { version = "0.13", default-features = false, features = ["nightly"] }

[dev-dependencies]
futures = "0.3"
rusoto_mock = "0.46.0"
