[package]
name = "fuzzer-afl"
version = "0.0.1"
publish = false

[dependencies]
fuzz-targets = { path = "../targets" }

# AFL only works for x86 targets
[target.'cfg(all(not(target_os = "windows"), target_arch = "x86_64"))'.dependencies]
afl = "0.6"
