["KV:Cloud:Io"]
error = '''
KV:Cloud:Io
'''

["KV:Cloud:Ssl"]
error = '''
KV:Cloud:Ssl
'''

["KV:Cloud:Proto"]
error = '''
KV:Cloud:Proto
'''

["KV:Cloud:Unknown"]
error = '''
KV:Cloud:Unknown
'''

["KV:Cloud:Timeout"]
error = '''
KV:Cloud:Timeout
'''

["KV:Cloud:InvalidInput"]
error = '''
KV:Cloud:InvalidInput
'''

["KV:Cloud:ApiInternal"]
error = '''
KV:Cloud:ApiInternal
'''

["KV:Cloud:ApiNotFound"]
error = '''
KV:Cloud:ApiNotFound
'''

["KV:Cloud:ApiAuthentication"]
error = '''
KV:Cloud:ApiAuthentication
'''

["KV:Cloud:WrongMasterKey"]
error = '''
KV:Cloud:WrongMasterKey
'''

["KV:Cloud:BothMasterKeyFail"]
error = '''
KV:Cloud:BothMasterKeyFail
'''

["KV:Codec:Io"]
error = '''
KV:Codec:Io
'''

["KV:Codec:BadPadding"]
error = '''
KV:Codec:BadPadding
'''

["KV:Codec:KeyLength"]
error = '''
KV:Codec:KeyLength
'''

["KV:Codec:KeyNotFound"]
error = '''
KV:Codec:KeyNotFound
'''

["KV:Codec:ValueLength"]
error = '''
KV:Codec:ValueLength
'''

["KV:Codec:ValueMeta"]
error = '''
KV:Codec:ValueMeta
'''

["KV:Coprocessor:Locked"]
error = '''
KV:Coprocessor:Locked
'''

["KV:Coprocessor:DeadlineExceeded"]
error = '''
KV:Coprocessor:DeadlineExceeded
'''

["KV:Coprocessor:MaxPendingTasksExceeded"]
error = '''
KV:Coprocessor:MaxPendingTasksExceeded
'''

["KV:Coprocessor:InvalidDataType"]
error = '''
KV:Coprocessor:InvalidDataType
'''

["KV:Coprocessor:Encoding"]
error = '''
KV:Coprocessor:Encoding
'''

["KV:Coprocessor:ColumnOffset"]
error = '''
KV:Coprocessor:ColumnOffset
'''

["KV:Coprocessor:UnknownSignature"]
error = '''
KV:Coprocessor:UnknownSignature
'''

["KV:Coprocessor:Eval"]
error = '''
KV:Coprocessor:Eval
'''

["KV:Coprocessor:CorruptedData"]
error = '''
KV:Coprocessor:CorruptedData
'''

["KV:Coprocessor:StorageError"]
error = '''
KV:Coprocessor:StorageError
'''

["KV:Coprocessor:InvalidCharacterString"]
error = '''
KV:Coprocessor:InvalidCharacterString
'''

["KV:Encryption:Rocks"]
error = '''
KV:Encryption:Rocks
'''

["KV:Encryption:Io"]
error = '''
KV:Encryption:Io
'''

["KV:Encryption:Crypter"]
error = '''
KV:Encryption:Crypter
'''

["KV:Encryption:Proto"]
error = '''
KV:Encryption:Proto
'''

["KV:Encryption:UnknownEncryption"]
error = '''
KV:Encryption:UnknownEncryption
'''

["KV:Encryption:WrongMasterKey"]
error = '''
KV:Encryption:WrongMasterKey
'''

["KV:Encryption:BothMasterKeyFail"]
error = '''
KV:Encryption:BothMasterKeyFail
'''

["KV:Encryption:TailRecordParseIncomplete"]
error = '''
KV:Encryption:TailRecordParseIncomplete
'''

["KV:Engine:Engine"]
error = '''
KV:Engine:Engine
'''

["KV:Engine:NotInRange"]
error = '''
KV:Engine:NotInRange
'''

["KV:Engine:Protobuf"]
error = '''
KV:Engine:Protobuf
'''

["KV:Engine:Io"]
error = '''
KV:Engine:Io
'''

["KV:Engine:CfName"]
error = '''
KV:Engine:CfName
'''

["KV:Engine:Codec"]
error = '''
KV:Engine:Codec
'''

["KV:Engine:DataLoss"]
error = '''
KV:Engine:DataLoss
'''

["KV:Engine:DataCompacted"]
error = '''
KV:Engine:DataCompacted
'''

["KV:Pd:Io"]
error = '''
KV:Pd:Io
'''

["KV:Pd:ClusterBootstraped"]
error = '''
KV:Pd:ClusterBootstraped
'''

["KV:Pd:ClusterNotBootstraped"]
error = '''
KV:Pd:ClusterNotBootstraped
'''

["KV:Pd:Imcompatible"]
error = '''
KV:Pd:Imcompatible
'''

["KV:Pd:Grpc"]
error = '''
KV:Pd:Grpc
'''

["KV:Pd:StreamDisconnect"]
error = '''
KV:Pd:StreamDisconnect
'''

["KV:Pd:RegionNotFound"]
error = '''
KV:Pd:RegionNotFound
'''

["KV:Pd:StoreTombstone"]
error = '''
KV:Pd:StoreTombstone
'''

["KV:Pd:DataCompacted"]
error = '''
KV:Pd:DataCompacted
'''

["KV:Pd:Unknown"]
error = '''
KV:Pd:Unknown
'''

["KV:Raft:Io"]
error = '''
KV:Raft:Io
'''

["KV:Raft:Store"]
error = '''
KV:Raft:Store
'''

["KV:Raft:StepLocalMsg"]
error = '''
KV:Raft:StepLocalMsg
'''

["KV:Raft:StepPeerNotFound"]
error = '''
KV:Raft:StepPeerNotFound
'''

["KV:Raft:ProposalDropped"]
error = '''
KV:Raft:ProposalDropped
'''

["KV:Raft:ConfigInvalid"]
error = '''
KV:Raft:ConfigInvalid
'''

["KV:Raft:CodecError"]
error = '''
KV:Raft:CodecError
'''

["KV:Raft:Exists"]
error = '''
KV:Raft:Exists
'''

["KV:Raft:NotExists"]
error = '''
KV:Raft:NotExists
'''

["KV:Raft:ConfChangeError"]
error = '''
KV:Raft:ConfChangeError
'''

["KV:Raftstore:ProposalInMergingMode"]
error = '''
KV:Raftstore:ProposalInMergingMode
'''

["KV:Raftstore:ReadIndexNotReady"]
error = '''
KV:Raftstore:ReadIndexNotReady
'''

["KV:Raftstore:EntryTooLarge"]
error = '''
KV:Raftstore:EntryTooLarge
'''

["KV:Raftstore:NotLeader"]
error = '''
KV:Raftstore:NotLeader
'''

["KV:Raftstore:DiskFull"]
error = '''
KV:Raftstore:DiskFull
'''

["KV:Raftstore:StoreNotMatch"]
error = '''
KV:Raftstore:StoreNotMatch
'''

["KV:Raftstore:RegionNotFound"]
error = '''
KV:Raftstore:RegionNotFound
'''

["KV:Raftstore:RegionNotInitialized"]
error = '''
KV:Raftstore:RegionNotInitialized
'''

["KV:Raftstore:KeyNotInRegion"]
error = '''
KV:Raftstore:KeyNotInRegion
'''

["KV:Raftstore:StaleCommand"]
error = '''
KV:Raftstore:StaleCommand
'''

["KV:Raftstore:Transport"]
error = '''
KV:Raftstore:Transport
'''

["KV:Raftstore:Coprocessor"]
error = '''
KV:Raftstore:Coprocessor
'''

["KV:Raftstore:Io"]
error = '''
KV:Raftstore:Io
'''

["KV:Raftstore:Protobuf"]
error = '''
KV:Raftstore:Protobuf
'''

["KV:Raftstore:AddressParse"]
error = '''
KV:Raftstore:AddressParse
'''

["KV:Raftstore:Timeout"]
error = '''
KV:Raftstore:Timeout
'''

["KV:Raftstore:EpochNotMatch"]
error = '''
KV:Raftstore:EpochNotMatch
'''

["KV:Raftstore:Unknown"]
error = '''
KV:Raftstore:Unknown
'''

["KV:Raftstore:ServerIsBusy"]
error = '''
KV:Raftstore:ServerIsBusy
'''

["KV:Raftstore:DataIsNotReady"]
error = '''
KV:Raftstore:DataIsNotReady
'''

["KV:Raftstore:DeadlineExceeded"]
error = '''
KV:Raftstore:DeadlineExceeded
'''

["KV:Raftstore:PendingPrepareMerge"]
error = '''
KV:Raftstore:PendingPrepareMerge
'''

["KV:Raftstore:RecoveryInProgress"]
error = '''
KV:Raftstore:RecoveryInProgress
'''

["KV:Raftstore:FlashbackInProgress"]
error = '''
KV:Raftstore:FlashbackInProgress
'''

["KV:Raftstore:FlashbackNotPrepared"]
error = '''
KV:Raftstore:FlashbackNotPrepared
'''

["KV:Raftstore:IsWitness"]
error = '''
KV:Raftstore:IsWitness
'''

["KV:Raftstore:SnapAbort"]
error = '''
KV:Raftstore:SnapAbort
'''

["KV:Raftstore:SnapTooMany"]
error = '''
KV:Raftstore:SnapTooMany
'''

["KV:Raftstore:SnapUnknown"]
error = '''
KV:Raftstore:SnapUnknown
'''

["KV:SstImporter:Io"]
error = '''
KV:SstImporter:Io
'''

["KV:SstImporter:Grpc"]
error = '''
KV:SstImporter:Grpc
'''

["KV:SstImporter:Uuid"]
error = '''
KV:SstImporter:Uuid
'''

["KV:SstImporter:Future"]
error = '''
KV:SstImporter:Future
'''

["KV:SstImporter:RocksDb"]
error = '''
KV:SstImporter:RocksDb
'''

["KV:SstImporter:ParseIntError"]
error = '''
KV:SstImporter:ParseIntError
'''

["KV:SstImporter:FileExists"]
error = '''
KV:SstImporter:FileExists
'''

["KV:SstImporter:FileCorrupted"]
error = '''
KV:SstImporter:FileCorrupted
'''

["KV:SstImporter:InvalidSstPath"]
error = '''
KV:SstImporter:InvalidSstPath
'''

["KV:SstImporter:InvalidChunk"]
error = '''
KV:SstImporter:InvalidChunk
'''

["KV:SstImporter:Engine"]
error = '''
KV:SstImporter:Engine
'''

["KV:SstImporter:CannotReadExternalStorage"]
error = '''
KV:SstImporter:CannotReadExternalStorage
'''

["KV:SstImporter:WrongKeyPrefix"]
error = '''
KV:SstImporter:WrongKeyPrefix
'''

["KV:SstImporter:WrongRewriteRules"]
error = '''
KV:SstImporter:WrongRewriteRules
'''

["KV:SstImporter:BadFormat"]
error = '''
KV:SstImporter:BadFormat
'''

["KV:SstImporter:FileConflict"]
error = '''
KV:SstImporter:FileConflict
'''

["KV:SstImporter:TtlNotEnabled"]
error = '''
KV:SstImporter:TtlNotEnabled
'''

["KV:SstImporter:TtlLenNotEqualsToPairs"]
error = '''
KV:SstImporter:TtlLenNotEqualsToPairs
'''

["KV:SstImporter:IncompatibleApiVersion"]
error = '''
KV:SstImporter:IncompatibleApiVersion
'''

["KV:SstImporter:InvalidKeyMode"]
error = '''
KV:SstImporter:InvalidKeyMode
'''

["KV:SstImporter:ResourceNotEnough"]
error = '''
KV:SstImporter:ResourceNotEnough
'''

["KV:Storage:Timeout"]
error = '''
KV:Storage:Timeout
'''

["KV:Storage:EmptyRequest"]
error = '''
KV:Storage:EmptyRequest
'''

["KV:Storage:Closed"]
error = '''
KV:Storage:Closed
'''

["KV:Storage:Io"]
error = '''
KV:Storage:Io
'''

["KV:Storage:SchedTooBusy"]
error = '''
KV:Storage:SchedTooBusy
'''

["KV:Storage:GcWorkerTooBusy"]
error = '''
KV:Storage:GcWorkerTooBusy
'''

["KV:Storage:KeyTooLarge"]
error = '''
KV:Storage:KeyTooLarge
'''

["KV:Storage:InvalidCf"]
error = '''
KV:Storage:InvalidCf
'''

["KV:Storage:CfDeprecated"]
error = '''
KV:Storage:CfDeprecated
'''

["KV:Storage:TtlNotEnabled"]
error = '''
KV:Storage:TtlNotEnabled
'''

["KV:Storage:TtlLenNotEqualsToPairs"]
error = '''
KV:Storage:TtlLenNotEqualsToPairs
'''

["KV:Storage:Protobuf"]
error = '''
KV:Storage:Protobuf
'''

["KV:Storage:InvalidTxnTso"]
error = '''
KV:Storage:InvalidTxnTso
'''

["KV:Storage:InvalidReqRange"]
error = '''
KV:Storage:InvalidReqRange
'''

["KV:Storage:BadFormatLock"]
error = '''
KV:Storage:BadFormatLock
'''

["KV:Storage:BadFormatWrite"]
error = '''
KV:Storage:BadFormatWrite
'''

["KV:Storage:KeyIsLocked"]
error = '''
KV:Storage:KeyIsLocked
'''

["KV:Storage:MaxTimestampNotSynced"]
error = '''
KV:Storage:MaxTimestampNotSynced
'''

["KV:Storage:FlashbackNotPrepared"]
error = '''
KV:Storage:FlashbackNotPrepared
'''

["KV:Storage:DeadlineExceeded"]
error = '''
KV:Storage:DeadlineExceeded
'''

["KV:Storage:ApiVersionNotMatched"]
error = '''
KV:Storage:ApiVersionNotMatched
'''

["KV:Storage:InvalidKeyMode"]
error = '''
KV:Storage:InvalidKeyMode
'''

["KV:Storage:Committed"]
error = '''
KV:Storage:Committed
'''

["KV:Storage:PessimisticLockRolledBack"]
error = '''
KV:Storage:PessimisticLockRolledBack
'''

["KV:Storage:TxnLockNotFound"]
error = '''
KV:Storage:TxnLockNotFound
'''

["KV:Storage:TxnNotFound"]
error = '''
KV:Storage:TxnNotFound
'''

["KV:Storage:LockTypeNotMatch"]
error = '''
KV:Storage:LockTypeNotMatch
'''

["KV:Storage:WriteConflict"]
error = '''
KV:Storage:WriteConflict
'''

["KV:Storage:Deadlock"]
error = '''
KV:Storage:Deadlock
'''

["KV:Storage:AlreadyExist"]
error = '''
KV:Storage:AlreadyExist
'''

["KV:Storage:DefaultNotFound"]
error = '''
KV:Storage:DefaultNotFound
'''

["KV:Storage:CommitTsExpired"]
error = '''
KV:Storage:CommitTsExpired
'''

["KV:Storage:KeyVersion"]
error = '''
KV:Storage:KeyVersion
'''

["KV:Storage:PessimisticLockNotFound"]
error = '''
KV:Storage:PessimisticLockNotFound
'''

["KV:Storage:CommitTsTooLarge"]
error = '''
KV:Storage:CommitTsTooLarge
'''

["KV:Storage:AssertionFailed"]
error = '''
KV:Storage:AssertionFailed
'''

["KV:Storage:LockIfExistsFailed"]
error = '''
KV:Storage:LockIfExistsFailed
'''

["KV:Storage:PrimaryMismatch"]
error = '''
KV:Storage:PrimaryMismatch
'''

["KV:Storage:Unknown"]
error = '''
KV:Storage:Unknown
'''

