[Unit]
Description=TiKV server daemon
Wants=network-online.target

[Service]
User=tikv
ExecStart=/usr/bin/tikv-server --config /etc/tikv/config.toml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT
LimitNOFILE=82920
WorkingDirectory=/var/lib/tikv/

[Install]
WantedBy=multi-user.target
