[Unit]
Description=TiKV is a distributed transactional key value database powered by Rust and Raft
After=network-online.target
Wants=network-online.target

[Service]
User=tikv
Group=tikv
EnvironmentFile=-/etc/sysconfig/tikv
ExecStart=/usr/bin/tikv-server \$OPTIONS
ExecReload=/bin/kill -HUP \$MAINPID
Restart=on-failure
KillSignal=SIGINT
LimitNOFILE=102400

[Install]
WantedBy=multi-user.target