[Unit]
Description=TiKV, a distributed transactional key value store.
Wants=network-online.target

[Service]
User=tikv
ExecStart=/usr/bin/tikv-server
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT
LimitNOFILE=82920
ConfigurationDirectory=tikv

[Install]
WantedBy=multi-user.target