[package]
name = "hybrid_engine"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[dependencies]
codec = { workspace = true }
crossbeam = { workspace = true }
engine_rocks = { workspace = true }
engine_traits = { workspace = true }
in_memory_engine = { workspace = true }
keys = { workspace = true }
kvproto = { workspace = true }
lazy_static = "1.4.0"
online_config = { workspace = true }
prometheus = { version = "0.13", default-features = false, features = [
    "nightly",
] }
prometheus-static-metric = "0.5"
protobuf = { version = "2.8", features = ["bytes"] }
raft = { workspace = true }
raftstore = { workspace = true }
slog = { workspace = true }
slog-global = { workspace = true }
tempfile = "3.0"
tikv_util = { workspace = true }
txn_types = { workspace = true }

[dev-dependencies]
fail = { version = "0.5", features = ["failpoints"] }
tempfile = "3.0"
test_util = { workspace = true }
