[package]
name = "file_system"
version = "0.1.0"
edition = "2021"
publish = false
license = "Apache-2.0"

[features]
bcc-iosnoop = ["bcc"]

[dependencies]
collections = { workspace = true }
crc32fast = "1.2"
crossbeam-utils = { workspace = true }
fs2 = "0.4"
lazy_static = "1.3"
libc = "0.2"
online_config = { workspace = true }
openssl = { workspace = true }
parking_lot = "0.12"
prometheus = { version = "0.13", features = ["nightly"] }
prometheus-static-metric = "0.5"
rand = "0.8"
serde = "1.0"
slog = { workspace = true }
slog-global = { workspace = true }
strum = { version = "0.20", features = ["derive"] }
tikv_alloc = { workspace = true }
tikv_util = { workspace = true }
tokio = { version = "1.5", features = ["time"] }

[dev-dependencies]
tempfile = "3.0"

[target.'cfg(target_os = "linux")'.dependencies]
bcc = { version = "0.0.30", optional = true }
thread_local = "1.1.3"
