[package]
name = "raft_log_engine"
version = "0.0.1"
publish = false
edition = "2018"

[dependencies]
encryption = { workspace = true }
engine_traits = { workspace = true }
codec = { workspace = true }
file_system = { workspace = true }
kvproto = { workspace = true }
lazy_static = "1.4.0"
num_cpus = "1"
online_config = { workspace = true }
protobuf = "2"
raft = { version = "0.7.0", default-features = false, features = ["protobuf-codec"] }
raft-engine = { git = "https://github.com/tikv/raft-engine.git", branch = "tikv-6.5", features = ["swap"] }
serde = "1.0"
serde_derive = "1.0"
slog = { workspace = true }
slog-global = { workspace = true }
tikv_util = { workspace = true }
time = "0.1"
tracker = { workspace = true }

[dev-dependencies]
tempfile = "3.0"
