[package]
name = "tidb_query_common"
version = "0.0.1"
edition = "2018"
publish = false
description = "Common utility of a query engine to run TiDB pushed down executors"

[dependencies]
anyhow = "1.0"
derive_more = "0.99.3"
error_code = { path = "../error_code", default-features = false }
kvproto = { git = "https://github.com/pingcap/kvproto.git" }
lazy_static = "1.3"
log_wrappers = { path = "../log_wrappers" }
prometheus = { version = "0.13", features = ["nightly"] }
prometheus-static-metric = "0.5"
serde_json = "1.0"
thiserror = "1.0"
tikv_util = { path = "../tikv_util", default-features = false }
time = "0.1"

[dev-dependencies]
byteorder = "1.2"

