[package]
name = "tidb_query_common"
version = "0.0.1"
edition = "2021"
publish = false
description = "Common utility of a query engine to run TiDB pushed down executors"
license = "Apache-2.0"

[dependencies]
anyhow = "1.0"
api_version = { workspace = true }
async-trait = "0.1"
derive_more = "0.99.3"
error_code = { workspace = true }
futures = "0.3"
kvproto = { workspace = true }
lazy_static = "1.3"
log_wrappers = { workspace = true }
prometheus = { version = "0.13", features = ["nightly"] }
prometheus-static-metric = "0.5"
serde_json = "1.0"
thiserror = "1.0"
tikv_util = { workspace = true }
time = { workspace = true }
yatp = { workspace = true }

[dev-dependencies]
byteorder = "1.2"
