[package]
name = "server"
version = "0.0.1"
license = "Apache-2.0"
edition = "2021"
publish = false

[features]
tcmalloc = ["tikv/tcmalloc"]
jemalloc = ["tikv/jemalloc"]
mimalloc = ["tikv/mimalloc"]
snmalloc = ["tikv/snmalloc"]
portable = ["tikv/portable"]
sse = ["tikv/sse"]
memory-engine = []
mem-profiling = ["tikv/mem-profiling"]
failpoints = ["tikv/failpoints"]
test-engine-kv-rocksdb = ["tikv/test-engine-kv-rocksdb"]
test-engine-raft-raft-engine = ["tikv/test-engine-raft-raft-engine"]
test-engines-rocksdb = ["tikv/test-engines-rocksdb"]
test-engines-panic = ["tikv/test-engines-panic"]
nortcheck = ["engine_rocks/nortcheck"]
backup-stream-debug = ["backup-stream/backup-stream-debug"]

[dependencies]
api_version = { workspace = true }
backup = { workspace = true }
backup-stream = { workspace = true }
causal_ts = { workspace = true }
cdc = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
collections = { workspace = true }
concurrency_manager = { workspace = true }
crossbeam = { workspace = true }
encryption_export = { workspace = true }
engine_rocks = { workspace = true }
engine_rocks_helper = { workspace = true }
engine_traits = { workspace = true }
error_code = { workspace = true }
fail = "0.5"
file_system = { workspace = true }
futures = "0.3"
grpcio = { workspace = true }
health_controller = { workspace = true }
hybrid_engine = { workspace = true }
keys = { workspace = true }
kvproto = { workspace = true }
libc = "0.2"
log_wrappers = { workspace = true }
pd_client = { workspace = true }
prometheus = { version = "0.13", features = ["nightly"] }
protobuf = { version = "2.8", features = ["bytes"] }
raft = { workspace = true }
raft_log_engine = { workspace = true }
raftstore = { workspace = true, features = ["engine_rocks"] }
raftstore-v2 = { workspace = true }
range_cache_memory_engine = { workspace = true }
resolved_ts = { workspace = true }
resource_control = { workspace = true }
resource_metering = { workspace = true }
security = { workspace = true }
serde_json = "1.0"
service = { workspace = true }
slog = { workspace = true }
slog-global = { workspace = true }
snap_recovery = { workspace = true }
tempfile = "3.0"
tikv = { workspace = true }
tikv_alloc = { workspace = true }
tikv_util = { workspace = true }
tokio = { version = "1.5", features = ["rt-multi-thread"] }
yatp = { workspace = true }

[target.'cfg(unix)'.dependencies]
signal-hook = "0.3"
