[package]
name = "tidb_query_codegen"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[lib]
proc-macro = true

[dependencies]
darling = "0.10"
heck = { workspace = true }
proc-macro2 = "1"
quote = "1"
syn = { version = "1", features = ["full", "extra-traits"] }
