[package]
name = "raftstore"
version = "0.0.1"
authors = ["The TiKV Authors"]
license = "Apache-2.0"
edition = "2018"
publish = false

[features]
default = ["test-engines-rocksdb"]
failpoints = ["fail/failpoints"]
testexport = []
test-engines-rocksdb = [
  "engine_test/test-engines-rocksdb",
]
test-engines-panic = [
  "engine_test/test-engines-panic",
]

cloud-aws = [ "sst_importer/cloud-aws" ]
cloud-gcp = [ "sst_importer/cloud-gcp" ]
cloud-azure = [ "sst_importer/cloud-azure" ]

[dependencies]
batch-system = { path = "../batch-system", default-features = false }
bitflags = "1.0.1"
byteorder = "1.2"
bytes = "1.0"
concurrency_manager = { path = "../concurrency_manager", default-features = false }
online_config = { path = "../online_config" }
crc32fast = "1.2"
crossbeam = "0.8"
derivative = "2"
encryption = { path = "../encryption", default-features = false }
engine_traits = { path = "../engine_traits", default-features = false }
error_code = { path = "../error_code", default-features = false }
fail = "0.5"
openssl = "0.10"
file_system = { path = "../file_system", default-features = false }
fs2 = "0.4"
futures = "0.3"
futures-util = { version = "0.3.1", default-features = false, features = ["io"] }
getset = "0.1"
grpcio-health = { version = "0.10", default-features = false, features = ["protobuf-codec"] }
into_other = { path = "../into_other",  default-features = false }
itertools = "0.10"
keys = { path = "../keys", default-features = false }
kvproto = { git = "https://github.com/pingcap/kvproto.git" }
lazy_static = "1.3"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }
log_wrappers = { path = "../log_wrappers" }
memory_trace_macros = { path = "../memory_trace_macros" }
ordered-float = "2.6"
parking_lot = "0.12"
pd_client = { path = "../pd_client", default-features = false }
prometheus = { version = "0.13", features = ["nightly"] }
prometheus-static-metric = "0.5"
protobuf = { version = "2.8", features = ["bytes"] }
raft = { version = "0.7.0", default-features = false, features = ["protobuf-codec"] }
raft-proto = { version = "0.7.0", default-features = false }
rand = "0.8.3"
resource_metering = { path = "../resource_metering" }
serde = "1.0"
serde_derive = "1.0"
serde_with = "1.4"
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
smallvec = "1.4"
sst_importer = { path = "../sst_importer", default-features = false }
tempfile = "3.0"
thiserror = "1.0"
tidb_query_datatype = { path = "../tidb_query_datatype", default-features = false }
tikv_alloc = { path = "../tikv_alloc" }
tikv_util = { path = "../tikv_util", default-features = false }
collections = { path = "../collections" }
time = "0.1"
tokio = { version = "1.5", features = ["sync", "rt-multi-thread"] }
txn_types = { path = "../txn_types", default-features = false }
uuid = { version = "0.8.1", features = ["serde", "v4"] }
yatp = { git = "https://github.com/tikv/yatp.git", branch = "master" }

# Should be [dev-dependencies] but we need to control the features
# https://github.com/rust-lang/cargo/issues/6915
engine_test = { path = "../engine_test", default-features = false }

[dev-dependencies]
encryption_export = { path = "../encryption/export", default-features = false }
engine_rocks = { path = "../engine_rocks", default-features = false }
panic_hook = { path = "../panic_hook" }
test_sst_importer = { path = "../test_sst_importer", default-features = false }
engine_panic = { path = "../engine_panic", default-features = false }
