[package]
name = "external_storage"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[dependencies]
async-compression = { version = "0.3.14", features = ["futures-io", "zstd"] }
async-trait = "0.1"
aws = { workspace = true }
azure = { workspace = true }
cloud = { workspace = true }
encryption = { workspace = true }
engine_traits = { workspace = true }
file_system = { workspace = true }
futures = "0.3"
futures-io = "0.3"
futures-util = { version = "0.3", default-features = false, features = ["io"] }
gcp = { workspace = true }
kvproto = { workspace = true }
lazy_static = "1.3"
openssl = { workspace = true }
prometheus = { version = "0.13", default-features = false, features = ["nightly", "push"] }
rand = "0.8"
slog = { workspace = true }
# better to not use slog-global, but pass in the logger
slog-global = { workspace = true }
tikv_alloc = { workspace = true }
tikv_util = { workspace = true }
tokio = { version = "1.5", features = ["time", "fs", "process"] }
tokio-util = { version = "0.7", features = ["compat"] }
url = "2.0"
walkdir="2"

[dev-dependencies]
matches = "0.1.8"
rust-ini = "0.14.0"
structopt = "0.3"
tempfile = "3.1"
tokio = { version = "1.5", features = ["macros"] }

[[example]]
name = "scli"
path = "examples/scli.rs"
