[package]
name = "external_storage"
version = "0.0.1"
edition = "2018"
publish = false

[features]
default = ["protobuf-codec"]
protobuf-codec = [
  "protobuf/bytes",
  "tikv_util/protobuf-codec",
  "grpcio/protobuf-codec",
  "encryption/protobuf-codec",
]
prost-codec = [
  "tikv_util/prost-codec",
  "grpcio/prost-codec",
  "encryption/prost-codec",
]
cloud-storage-dylib = [
  "ffi-support",
  "libloading",
  "protobuf",
  "tokio-util",
]
cloud-storage-grpc = [
  "grpcio",
  "tokio-util",
]
failpoints = ["fail/failpoints"]

[dependencies]
anyhow = "1.0"
bytes = "1.0"
fail = "0.4"
ffi-support = { optional = true, version = "0.4.2" }
file_system = { path = "../file_system" }
futures = "0.3"
futures-executor = "0.3"
futures-io = "0.3"
futures-util = { version = "0.3", default-features = false, features = ["io"] }
grpcio = { optional = true, version = "0.9",  default-features = false, features = ["openssl-vendored"] }
kvproto = { git = "https://github.com/pingcap/kvproto.git", default-features = false }
lazy_static = "1.3"
libloading = { optional = true, version = "0.7.0" }
prometheus = { version = "0.12", default-features = false, features = ["nightly", "push"] }
protobuf = { optional = true, version = "2" }
rand = "0.8"
rusoto_core = "0.46.0"
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
tame-oauth = "0.4.2"
tikv_alloc = { path = "../tikv_alloc" }
engine_traits = { path = "../engine_traits" }
encryption = { path = "../encryption" }
tikv_util = { path = "../tikv_util", default-features = false }
tokio = { version = "1.5", features = ["time"] }
tokio-util = { version = "0.6", features = ["compat"], optional = true }
url = "2.0"

[dev-dependencies]
structopt = "0.3"
tempfile = "3.1"
rust-ini = "0.14.0"
matches = "0.1.8"
