[package]
name = "external_storage"
version = "0.0.1"
edition = "2018"
publish = false

[dependencies]
futures = "0.3.1"
futures-executor = "0.3"
futures-io = "0.3"
futures-util = { version = "0.3", default-features = false, features = ["io"] }
rand = "0.7"
rusoto_core = "0.43.0"
rusoto_credential = "0.43.0"
rusoto_s3 = "0.43.0"
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "91904ade" }
tikv_alloc = { path = "../tikv_alloc" }
tokio = "0.2.13"
tokio-util = { version = "0.3.0", features = ["codec", "compat"] }
url = "2.0"
kvproto = { git = "https://github.com/pingcap/kvproto.git", branch = "release-3.1", default-features = false }

[features]
prost-codec = ["kvproto/prost-codec"]
protobuf-codec = ["kvproto/protobuf-codec"]

[dev-dependencies]
structopt = "0.3"
rusoto_mock = "0.43.0"
tempfile = "3.1"
rust-ini = "0.14.0"
