[package]
name = "engine_traits"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[features]
failpoints = ["fail/failpoints"]
testexport = []

[dependencies]
collections = { workspace = true }
encryption = { workspace = true }
error_code = { workspace = true }
fail = "0.5"
file_system = { workspace = true }
keys = { workspace = true }
kvproto = { workspace = true }
log_wrappers = { workspace = true }
protobuf = "2"
raft = { workspace = true }
serde = "1.0"
slog = { workspace = true }
slog-global = { workspace = true }
thiserror = "1.0"
tikv_util = { workspace = true }
tracker = { workspace = true }
txn_types = { workspace = true }

[dev-dependencies]
rand = "0.8.5"
toml = "0.5"
