[package]
name = "test_raftstore"
version = "0.0.1"
edition = "2018"
publish = false

[features]
default = ["test-engines-rocksdb", "cloud-aws", "cloud-gcp", "cloud-azure"]
cloud-aws = [ "encryption_export/cloud-aws" ]
cloud-gcp = [ "encryption_export/cloud-gcp" ]
cloud-azure = [ "encryption_export/cloud-azure" ]
test-engines-rocksdb = [
  "raftstore/test-engines-rocksdb",
]
test-engines-panic = [
  "raftstore/test-engines-panic",
]

[dependencies]
api_version = { path = "../api_version" }
backtrace = "0.3"
crossbeam = "0.8"
engine_traits = { path = "../engine_traits", default-features = false }
engine_rocks = { path = "../engine_rocks", default-features = false }
file_system = { path = "../file_system" }
futures = "0.3"
grpcio = { version = "0.10",  default-features = false, features = ["openssl-vendored", "protobuf-codec"] }
grpcio-health = { version = "0.10", default-features = false, features = ["protobuf-codec"] }
lazy_static = "1.3"
log_wrappers = { path = "../log_wrappers" }
keys = { path = "../keys", default-features = false }
kvproto = { git = "https://github.com/pingcap/kvproto.git" }
pd_client = { path = "../pd_client", default-features = false }
protobuf = { version = "2.8", features = ["bytes"] }
raft = { version = "0.7.0", default-features = false, features = ["protobuf-codec"] }
raftstore = { path = "../raftstore", default-features = false }
rand = "0.8"
resolved_ts = { path = "../resolved_ts" }
security = { path = "../security", default-features = false }
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
tempfile = "3.0"
test_util = { path = "../test_util", default-features = false }
tikv = { path = "../../", default-features = false }
tikv_util = { path = "../tikv_util", default-features = false }
collections = { path = "../collections" }
tokio-timer = { git = "https://github.com/tikv/tokio", branch = "tokio-timer-hotfix" }
txn_types = { path = "../txn_types", default-features = false }
encryption_export = { path = "../encryption/export", default-features = false }
tokio = { version = "1.5", features = ["rt-multi-thread"]}
concurrency_manager = { path = "../concurrency_manager", default-features = false }
fail = "0.5"
resource_metering = { path = "../resource_metering" }
causal_ts = { path = "../causal_ts"}
