[package]
name = "test_raftstore"
version = "0.0.1"
edition = "2018"
publish = false

[features]
default = ["protobuf-codec", "test-engines-rocksdb", "cloud-aws", "cloud-gcp"]
cloud-aws = [ "encryption_export/cloud-aws" ]
cloud-gcp = [ "encryption_export/cloud-gcp" ]
protobuf-codec = [
  "concurrency_manager/protobuf-codec",
  "encryption_export/protobuf-codec",
  "engine_rocks/protobuf-codec",
  "engine_traits/protobuf-codec",
  "grpcio/protobuf-codec",
  "keys/protobuf-codec",
  "kvproto/protobuf-codec",
  "pd_client/protobuf-codec",
  "raft/protobuf-codec",
  "raftstore/protobuf-codec",
  "security/protobuf-codec",
  "test_util/protobuf-codec",
  "tikv/protobuf-codec",
  "tikv_util/protobuf-codec",
  "txn_types/protobuf-codec",
]
prost-codec = [
  "concurrency_manager/prost-codec",
  "encryption_export/prost-codec",
  "engine_rocks/prost-codec",
  "engine_traits/prost-codec",
  "grpcio/prost-codec",
  "keys/prost-codec",
  "kvproto/prost-codec",
  "pd_client/prost-codec",
  "raft/prost-codec",
  "raftstore/prost-codec",
  "security/prost-codec",
  "test_util/prost-codec",
  "tikv/prost-codec",
  "tikv_util/prost-codec",
  "txn_types/prost-codec",
]
test-engines-rocksdb = [
  "raftstore/test-engines-rocksdb",
]
test-engines-panic = [
  "raftstore/test-engines-panic",
]

[dependencies]
crossbeam = "0.7.2"
engine_traits = { path = "../engine_traits", default-features = false }
engine_rocks = { path = "../engine_rocks", default-features = false }
futures = "0.3"
grpcio = { version = "0.7", default-features = false, features = ["openssl-vendored"] }
lazy_static = "1.3"
log_wrappers = { path = "../log_wrappers" }
keys = { path = "../keys", default-features = false }
kvproto = { git = "https://github.com/pingcap/kvproto.git", default-features = false }
pd_client = { path = "../pd_client", default-features = false }
raft = { version = "0.6.0-alpha", default-features = false }
raftstore = { path = "../raftstore", default-features = false }
rand = "0.7"
security = { path = "../security", default-features = false }
slog = { version = "2.3", features = ["max_level_trace", "release_max_level_debug"] }
# better to not use slog-global, but pass in the logger
slog-global = { version = "0.1", git = "https://github.com/breeswish/slog-global.git", rev = "d592f88e4dbba5eb439998463054f1a44fbf17b9" }
tempfile = "3.0"
test_util = { path = "../test_util", default-features = false }
tikv = { path = "../../", default-features = false }
tikv_util = { path = "../tikv_util", default-features = false }
collections = { path = "../collections" }
tokio-timer = "0.2"
txn_types = { path = "../txn_types", default-features = false }
encryption_export = { path = "../encryption/export", default-features = false }
tokio = { version = "0.2", features = ["rt-threaded"]}
concurrency_manager = { path = "../concurrency_manager", default-features = false }
fail = "0.4"
