[package]
name = "online_config_derive"
version = "0.1.0"
edition = "2021"
publish = false
license = "Apache-2.0"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "1", features = ["extra-traits", "full"] }
