[package]
name = "test_storage"
version = "0.0.1"
edition = "2018"
publish = false

[dependencies]
keys = { path = "../keys" }
tikv_util = { path = "../tikv_util" }
tikv = { path = "../../", default-features = false }
test_raftstore = { path = "../test_raftstore" }
kvproto = { git = "https://github.com/Little-Wallace/kvproto.git", branch="raft_thread" }
futures = "0.1"
