[package]
name = "test_storage"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[features]
default = ["test-engine-kv-rocksdb", "test-engine-raft-raft-engine"]

test-engine-kv-rocksdb = [
  "test_raftstore/test-engine-kv-rocksdb"
]
test-engine-raft-raft-engine = [
  "test_raftstore/test-engine-raft-raft-engine"
]
test-engines-rocksdb = [
  "test_raftstore/test-engines-rocksdb",
]
test-engines-panic = [
  "test_raftstore/test-engines-panic",
]

[dependencies]
api_version = { workspace = true }
collections = { workspace = true }
engine_rocks = { workspace = true }
engine_traits = { workspace = true }
futures = "0.3"
kvproto = { workspace = true }
pd_client = { workspace = true }
raftstore = { workspace = true }
test_raftstore = { workspace = true }
tikv = { workspace = true }
tikv_util = { workspace = true }
tracker = { workspace = true }
txn_types = { workspace = true }
