[package]
name = "test_storage"
version = "0.0.1"
edition = "2018"
publish = false

[dependencies]
tikv_util = { path = "../tikv_util" }
tikv = { path = "../../", default-features = false }
test_raftstore = { path = "../test_raftstore" }
# kvproto = { git = "https://github.com/pingcap/kvproto.git" }
kvproto = { git = "https://github.com/hicqu/kvproto.git", branch = "cc-append-time-activation-rust-protobuf" }
futures = "0.1"
