[package]
name = "test_coprocessor"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[features]
default = ["test-engine-kv-rocksdb", "test-engine-raft-raft-engine"]
test-engine-kv-rocksdb = [
  "test_storage/test-engine-kv-rocksdb"
]
test-engine-raft-raft-engine = [
  "test_storage/test-engine-raft-raft-engine"
]
test-engines-rocksdb = [
  "test_storage/test-engines-rocksdb",
]
test-engines-panic = [
  "test_storage/test-engines-panic",
]

[dependencies]
collections = { workspace = true }
concurrency_manager = { workspace = true }
futures = "0.3"
kvproto = { workspace = true }
protobuf = "2"
resource_metering = { workspace = true }
test_storage = { workspace = true }
tidb_query_common = { workspace = true }
tidb_query_datatype = { workspace = true }
tikv = { workspace = true }
tikv_util = { workspace = true }
tipb = { workspace = true }
txn_types = { workspace = true }
