[package]
name = "gcp"
version = "0.0.1"
edition = "2021"
publish = false
license = "Apache-2.0"

[dependencies]
async-trait = "0.1"
base64 = "0.13.0"
cloud = { workspace = true }
crc32c = "0.6"
crypto = { workspace = true }
futures-util = { version = "0.3", default-features = false, features = ["io"] }
http = "0.2.0"
hyper = "0.14"
hyper-tls = "0.5"
kvproto = { workspace = true }
lazy_static = "1.3"
regex = "1.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
slog = { workspace = true }
# better to not use slog-global, but pass in the logger
slog-global = { workspace = true }
tame-gcs = { version = "0.10", features = ["async-multipart"] }
tame-oauth = "0.9.6"
tikv_util = { workspace = true }
tokio = { version = "1.5", features = ["time"] }
url = "2.0"

[dev-dependencies]
matches = "0.1.8"
pin-project = "1"
tokio = { version = "1.5", features = ["rt"] }
